﻿/**/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
/*       'Open Sans', sans-serif     */


@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/menu.css";

@import "../css/font-awesome.css";


.btn:hover{
	color: black;
}
.btn{
	width:100px;

    background-color: #FFB600;

    border-radius:10px;
	

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;


}


.h3js{
	margin-top:10px;
	margin-bottom: 100px;
	text-align: left;
}

.ygfont{
	color:black;
	font-size:0.9em;
}
/* 정우 style.css 시작 */



.site-headerjw {
  padding: 3em 30px;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

.rowjw{
	margin:auto;
}

.list-unstyledjw{
	font-size: 20px;
	font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;

}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

.site-headerjw .site-logojw {
  line-height: 0;
  padding: 10px 20px;
  border: 2px solid;
  font-size: 30px;
}

.site-headerjw .socialjw li {
  display: inline-block;
}

.menu-burger-wrapjw {
  position: relative;
}

.site-nav-togglejw:hover, .site-nav-togglejw:focus, .site-nav-togglejw:active {
  outline: none;
  border-bottom: none !important;
}

.site-nav-togglejw {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: -15px;
  z-index: 21;
  display: block !important;
  float: right;
  right: 0;
  display: none;
  border-bottom: none !important;
}

.cover_1jw {
  position: relative;
}

.cover_1jw .img_bgjw {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
}

.cover_1jw .img_bgjw, .cover_1jw .img_bgjw > .containerjw > .rowjw {
  min-height: 700px;
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Playfair Display", Arial, sans-serif;
font-weight: bold;
}

.cover_1jw .headingjw {
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .cover_1jw .headingjw {
    font-size: 50px;
    line-height: 1.5;
  }
}

/* Site Header */
.site-headerjw {
  background-color: #d7d7b1;
  padding: 3em 30px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
/*
.site-headerjw .site-logojw {
  line-height: 0;
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 30px;
}

.site-headerjw .socialjw li {
  display: inline-block;
}

.site-headerjw .socialjw li a {
  color: #fff;
  padding: 0 10px;
}

.site-headerjw .heading {
  color: #fff;
}

.site-headerjw.scrolled {
  position: fixed;
  padding: 1em 30px;
  top: 0;
  background: #fff;
  -webkit-transition: .0s all ease;
  -o-transition: .0s all ease;
  transition: .0s all ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.site-headerjw.scrolled .socialjw {
  margin-top: 10px;
}

.site-headerjw.scrolled .socialjw li a {
  color: #000;
}

.site-headerjw.scrolled .site-logojw {
  line-height: 1.2;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid #000;
  color: #000;
  font-size: 30px;
}

.site-headerjw.scrolled .site-nav-toggle{
  top: -5px;
}

.site-headerjw.scrolled .site-nav-toggle i, .site-headerjw.scrolled .site-nav-toggle i:before, .site-headerjw.scrolled .site-nav-toggle i:after {
  background: #000;
}

.site-headerjw.awake {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.site-headerjw.sleep {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
*/

/* 정우 style.css 끝 */


/*기상이 style.css 시작 */
.gongji-font{
	
	font-size:30px;
	padding:1em;
	letter-spacing:0.2px;
	line-height:120%;
	font-family:'Nanum Pen Script', serif;
}
.margings{
margin-top:90px;
}
.centergs{
	text-align: center;
}
.none{
	text-decoration: none;
}
.btn{
	width:100px;

    background-color: #FFB600;

    border-radius:10px;
	

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;


}

html {
  overflow-x: hidden;
}


.rowgs{
	margin:auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}

.back{
	width:700px;
	height:500px;
}

.hrgs{
	background-color:#FFAE00;
	width: 50%;
}

.blog_titlegs {
    margin-bottom: 17px;
    color: #535151;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
	
	
}
.h2gs{
	
	font-size:25px !important;
	color:black;
	margin-top:30px;
}

.sizegs{
	width:75%;
	margin:auto;
	
}

.custom-pagination li {
  display: inline-block;
}

.custom-pagination .prev a, .custom-pagination .next a {
  font-size: 20px !important;
  line-height: 38px !important;
}

.custom-pagination li a, .custom-pagination .prev a, .custom-pagination .next a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
}

.custom-pagination li.active a, .custom-pagination .prev.active a, .custom-pagination .next.active a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
  background: #fdb44b;
  color: #fff;
}

.custom-pagination li.active a:hover, .custom-pagination li.active a:focus, .custom-pagination .prev.active a:hover, .custom-pagination .prev.active a:focus, .custom-pagination .next.active a:hover, .custom-pagination .next.active a:focus {
  color: #fff;
}

.custom-pagination .prev {
  float: left;
}

.custom-pagination .next {
  float: right;
}
.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;

}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}



a:hover {
  text-decoration: none;
}

.blog table .fa {
    font-size: 20px;
    color: #adacac;
    min-width: 24px;
    margin-right: 27px;
    line-height: 40px;
}

.blog table td+td .fa  {
    margin-right: 5px;
}
i{
	margin-top: 0.5em;
}

.contentgs {
	background-color: #fff;
	padding-bottom: 113px;
}

.page1 .contentgs {
	padding-top: 4px;
	padding-bottom: 105px;

}
/*기상이 style.css 끝 */






input {
	outline:  none !important;
	border-radius: 0 !important;	 
}


html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 14px/20px  Arial, Helvetica, sans-serif;
	color:#5f5e4e;
	background-color: #d7d7b1;
	position:relative;
	min-width:960px;
}
.h_logo {
	font-size:100px;
	font-family: 'Great Vibes';
	text-align: center;
}


.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif ;
	color: #009fb3;
	margin-top:30px;
	margin-bottom:30px;

}

h3 {
	font-size: 50px;
	line-height: 50px;
	color: #5f5e4e;
	padding-top: 98px;
	margin-bottom: 49px;
}

.page1 h3 {
	text-align: center;
	padding-top: 97px;
	margin-bottom: 138px;
}

h3.head1 {
	text-align: center;
	padding-top: 91px;
	margin-bottom: 136px;
}

h3.head2 {
	text-align: center;
	padding-top: 96px;
	margin-bottom: 47px;
}

h3.head3 {
	font-size: 36px;
	padding-top: 93px;
	margin-bottom: 42px;
}

ul.list+h3.head3 {
	padding-top: 40px;
}

p {
	margin-bottom: 100px;

}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
	padding-top: 3px;
}

ul.list li {
	padding-left: 33px;
	background: url(../images/marker.png) 0 6px no-repeat;

}
ul.list li+li {

}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #d9c381;
	
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}

.mb1  {
	margin-bottom: 25px !important;
}

.ind1 {
	margin-top: 11px;
}

.pad0 {
	padding: 0 !important;
}


.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	margin-bottom: 19px;
 position: relative;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-top: 5px;	
	margin-bottom: 0px;
}

.page1 .fleft {
	margin-top: 1px;
	margin-right: 22px;
}

.fright {
	float: right !important;

}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}


/*header*/

header {
	display: block;
	position: relative;
	z-index: 999;
	padding: 29px 0 21px;
}

h1 {
	float: none;
	z-index: 999;
	font-size: 0;
	text-align: center;
	line-height: 0;
	margin-bottom: 58px;

}
h1 a {
	display: inline-block;
	overflow: hidden;
	width: 424px;
	height: 126px;
	text-indent: -999px;
	transition: 0s ease;

	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

h1 a img {
	display: block;	
}

.socials {
	margin-bottom: 27px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.socials a {
	position: relative;
	margin: 0 4px 0 5px;
	border-radius: 500px;
	background-color: #fff;
	display: inline-block;
	width: 43px;
	height: 43px;
	  color: #d9c381;
	  font: 24px/43px FontAwesome;
}

.socials a:first-child:after {
	  content: '';
	  font: 24px/43px FontAwesome;
	  color: #d9c381;
	  width: 43px;
	  height: 43px;
	  text-align: center;
	  position: absolute;
	  left: 0;
	  top: 0;
	  z-index: 999;
}

.socials a:first-child+a:after {
	  content: '';

}

.socials a:first-child+a+a:after {
	  content: '\f16d';

}


.socials a.last {
	background: url(../images/pint.png) center 0 no-repeat #fff;
}

.socials a:hover {
	opacity: 0.5;
}

/*Content*/


.content {
	background-color: #fff;
	padding-bottom: 113px;
}

.page1 .content {
	padding-top: 4px;
	padding-bottom: 105px;

}

.block1 {
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
}





.block1 .price {
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	padding: 70px 0 67px;
	left: 50%;
	height: 217px;
	display: block;
	top: 50%;
	overflow: hidden;
	margin-top: -108px;
	margin-left: -104px;
	font: bold 20px/20px 'Open Sans', sans-serif;
	color: #fff;
	width: 217px;
	position: absolute;
	border: 5px solid #fff;
	border-radius: 500px;
}

.block1 .price span+span {
	padding-top: 14px;
	font-size: 36px;
	display: block;
}

.block1 .price small {
font-size: 30px;
position: relative;
top: 2px;
}

.block1 .price * {
	position: relative;
	z-index: 10;
}

.block1 .price strong {
	z-index: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-radius: 500px;	
	opacity: 0;
	right: 0;
	height: 100%;
	background: url(../images/overlay.png) 0 0 repeat;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1:hover .price strong {
	opacity: 1;

}

.block1:hover .price {
	color: #4f4f4f;
}

.block1 img {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.block1.blur  img {
	filter: url(../js/blur.svg#blur);
}

.block1:hover img {
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); 
	filter: blur(3px)
}

.box {
	padding: 0 15px 30px;
	text-align: center;
	background-color: #f6f7ea;
}


.box img {
	border-radius: 500px;
	margin-top: -65px;
}

.box .title {
	padding-top: 24px;
	margin-bottom: 26px;
	font: 24px/20px 'Open Sans', sans-serif;
}

.box>div>a {
	position: relative;
	display: inline-block;
	margin-top: 24px;
	font: 300 16px/20px 'Open Sans', sans-serif;
}

.box>div>a:after {
	display: block;
	position: absolute;
	content: '';
	background: url(../images/link_marker.png) right 0 no-repeat;
	right: -27px;
	width: 16px;
	height: 8px;
	padding-right: 20px;
	top: 7px;
}

.col1 {
	color: #b39f63;
}

.col1 span a {
	color: #000;
}

.col1 span a:hover {
	color: inherit;
}

a.col1:hover, .col1>a:hover {
	color: #000;
}

.pad1 {
	padding-right: 40px;
}

.nav {
	font-size: 0;
	text-align: center;
	line-height: 0;
	margin-bottom: 3px;
}

.nav li {
	margin: 0 11px;
	display: inline-block;
	font: 18px/20px 'Open Sans', sans-serif;
}

.nav li.selected {
	color: #d9c381;
}

.col2 {
	color: #d9c381;
}

.col3{
	color: #5f5e4e;
}

.tab-content:after {
	clear: both;
}

.col3 a:hover {
	color: #d9c381;
}
.div-tabs  {
	text-align: center;
}

.div-tabs .clear {
}
.div-tabs a.gal  {
	margin-top: 52px;
	
	margin-bottom: 23px;
}

.div-tabs a.gal img {
	border: 1px solid #f7f8ed;
	border-radius: 500px;
}

.post {
	overflow: hidden;
	text-align: left;
}

.post .fleft {
	margin-top: 4px;
}
.post+.post {
	margin-top: 53px;
}
.post .title {
	font: 18px/20px 'Open Sans', sans-serif;
	margin-bottom: 7px;
}

a.link1 {
	font: 300 16px/20px 'Open Sans', sans-serif;
	display: inline-block;
	margin-top: 15px;
}

a.link2 {
	font: 300 16px/20px 'Open Sans', sans-serif;
	text-align: right;
	display: inline-block;
	margin-top: 15px;

}

.post time {
	position: relative;
	top: 2px;
}
.post .col1 {
	margin-bottom: 19px;
}

.post .col1 span {
	display: inline-block;
	background-color: #e9ddb7;
	width: 1px;
	height: 15px;
	position: relative;
	top: 4px;
	margin: 0px 8px 0 8px;
}

.cont_phone {
	color: #d9c381;
	position: relative;
	top: -1px;
	font:  16px/20px 'Open Sans', sans-serif;
}

a.reserv {
	color: #f6f7ea;
	display: inline-block;
	background-color: #9b9a87;
	padding: 29px 20px 28px 18px;
	margin-top: 54px;
	font:  27px/27px 'Open Sans', sans-serif;
}

a.reserv:hover {
	background-color: #D7D7B1;
	color: #9b9a87;
}

a.reserv span {
	font-size: 50px;
	position: relative;
	display: inline-block;
	top: -4px;
	margin-right: 2px;
}

.hours {
	padding-left: 80px;
	margin-top: 105px;
	position: relative;
	padding-top: 33px;
	padding-bottom: 32px;
	background-color: #f6f7ea;
}

.hours  div {
	position: relative;
	z-index: 10;
}

.hours  .title {
	background-color: #f6f7ea;
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
   -moz-transform: rotate(-90deg); /* Firefox */
	font:  36px/36px 'Open Sans', sans-serif;
	position: absolute;
	z-index: 1;
	bottom: 0;
	display: block;
	left: 55px;
	color: #85846d;
	top: 0px;
}

.hours +h3.head3 {
	padding-top: 41px;
	padding-left: 24px;
}

.news {
	overflow: hidden;
	padding-top: 1px;
}

.news+.news {
	margin-top: 23px;
	padding-top: 20px;
	border-top: 1px solid #f6f7ea;
}

.news time {
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
	float: left;
	padding-top: 9px;
	display: block;
	width: 57px;
	margin-top: 5px;
	color: #85846d;
	height: 57px;
	margin-right: 22px;
	background-color: #f6f7ea;
	border-radius: 500px;
	text-align: center;
}

.news time span {display: block;
	margin-top: -2px;
font-size: 18px;}



a.gal {
	display: block;
	position: relative;
	
	
}

a.gal span {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/magnify.png) -100% center no-repeat;
}

a.gal:hover span {
	background-position: center center;
}
/****Map***/

.map {
}

.map figure {

	width: 100%;
		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 display: block;
margin-bottom: 43px;

}
.map figure iframe {
	width: 100%;
	height: 325px;
	max-width: 100%;
}


.map address {
	overflow: hidden;
	margin-bottom: 18px;

}


address dt {
	margin-bottom: 20px;
}


address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}

#map {
	width: 100%;
	margin-top: 106px;
	height: 350px;
}

.contact h3.head3 {
	padding-top: 58px;
	margin-bottom: 44px;
}

a.col2:hover {
	color: #000;
}

/************Footer***********/

footer {
	padding: 75px 0 70px;
	display: block;
	color: #85846d;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

footer a:hover {
	color: #5f5e4e;
}

.f_logo {
	display: inline-block;
	margin-bottom: 28px;
}
.f_logo2{
	font-size:50px;
	font-family: 'Great Vibes';
}

.copy {
	padding-top: 31px;
	margin: 0 7px;
	border-top: 1px solid #5f5e4e;

}

#toTop {
    background: url("../images/totop.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 70px;
    display: none;
    height: 55px;
    width: 55px;
    left: 58%;
    margin-left: 500px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    text-indent: -999px;
    transition: all 0s ease 0s;
    z-index: 20;
}
#toTop:hover {
    background-position: right 0;
    outline: medium none;
}